* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', monospace;
  }

  body {
    align-items: center;
    justify-content: center;
    size: 100vh;
    line-height: 1;
    color: rgb(213, 204, 243);
    background-image: linear-gradient(to bottom, rgb(54, 16, 123), rgb(56, 23, 119));
  }
  
  h1{
    font-size: 90px;
    color: rgb(245, 245, 245);
    text-shadow:2px 4px #febe00a2; 
  }

  header {
    align-items: center;
    justify-content: center;
    display: flex;

    padding: 20px 0px 0px 0px;
  }

  main {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 40px;
  }

  .response {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 270px;
  
    font-size: 50px;
    color: white;
    text-shadow:1px 1px #febe00a4;
  }
  
  #input {
    align-items: center;
    justify-content: center;
    display: flex;

  
    border-radius: 10px;
    outline: 2px solid #febe00ae;
    border: 0;
    background-color: #ffffffb2;
    outline-offset: 3px;
    padding: 10px 20% 1rem;
    transition: 0.25s;
  }
  
  #input:focus {
    outline-offset: 5px;
    background-color: rgb(215, 198, 255);
  }
  
  .hidden {
    display: none;
  }

  #table-container {
    overflow-y: auto; 
    height: 300px; 
    margin: 50px;
    border: 1px solid #febe00a4;
    position: relative;
  }

  #table { 
    border-collapse: collapse; 
    width: 100%; 
  }

  #table thead td {
      color: white;
      background-color: rgba(17, 17, 17, 0.896);
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #febe00a4;
      border-right: 0.2px solid #febe00a4;
  }

  #table tbody td {
    color: white;
    background-image: radial-gradient(circle,#1919194f,#0000005b);
    padding: 8px;
    text-align: left;
  }

  #clear-table {
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    right: 7px;
  }
  #clear-table:hover {
    color: #febe00a4;
  }

  @media screen and (max-width: 1000px) {
    h1{
      font-size: 50px;
      text-shadow: 2px 2px #febe0073;
    }
    #table-container{
      margin: 100px 20px 30px 20px;
    }
  }
